/*GENERAL*/
.content {
    max-width: 950px;
    margin: auto;
}

p {
    font-family: Helvetica;
    font-size: 16px;
}

h1 {
    font-family: Helvetica;
    font-size: 25px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/*TABLES*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
}

td, th {
    border: 1px solid #a6a6a6;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

/*FORMS*/

input[type=text], select {
    /*width: 40%;*/
    padding: 8px 15px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type=number]{
    /*width: 40%;*/
    padding: 8px 15px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

div {
    /*border-radius: 5px;*/
    background-color: #f2f2f2;
    padding: 20px;
}

/*BUTTONS*/
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button:hover {
    background-color: #555555;
    color: white;
}
